@import url("https://fonts.googleapis.com/css?family=Questrial|Roboto+Condensed");
.insource-page {
  margin: 0 10%;
  min-height: 150vh;
  padding-top: 140px;
  padding-bottom: 60px; }
  .insource-page h1 {
    font-family: "Roboto Condensed", sans-serif;
    color: #48186c;
    text-transform: uppercase; }
  .insource-page p {
    font-family: "Questrial", sans-serif; }
  .insource-page h3 {
    font-family: "Roboto Condensed", sans-serif;
    color: #48186c;
    font-style: italic;
    font-size: 20px; }
  .insource-page h4 {
    font-family: "Roboto Condensed", sans-serif;
    color: #48186c;
    font-size: 28px;
    margin-bottom: 0px; }
  .insource-page li {
    list-style-type: none;
    font-family: "questrial", sans-serif;
    margin-top: 10px; }
  @media screen and (max-width: 450px) {
    .insource-page {
      min-height: 250vh; } }
