@import url("https://fonts.googleapis.com/css?family=Questrial|Roboto+Condensed");
.hire-vet-page {
  margin: 0 10%;
  min-height: 100vh;
  padding-top: 140px;
  padding-bottom: 60px; }
  .hire-vet-page h1 {
    font-family: "Roboto Condensed";
    color: #48186c;
    text-transform: uppercase;
    font-size: 35px; }
  .hire-vet-page p {
    font-family: "Questrial"; }
  .hire-vet-page .vetpic {
    width: 600px;
    height: auto; }
  @media screen and (max-width: 450px) {
    .hire-vet-page .vetpic {
      width: 300px;
      height: auto; } }
