@import url("https://fonts.googleapis.com/css?family=Questrial|Roboto+Condensed");
.recruit-page {
  margin: 0 10%;
  min-height: 100vh;
  padding-top: 140px;
  padding-bottom: 60px;
  font-weight: lighter; }
  .recruit-page li {
    list-style-type: none;
    text-align: left;
    font-family: "questrial", sans-serif;
    line-height: 25px;
    font-size: 16px; }
  .recruit-page h1 {
    font-family: "Roboto Condensed", sans-serif;
    color: #48186c;
    text-transform: uppercase;
    font-size: 45px;
    margin-bottom: -20px; }
  .recruit-page h5 {
    font-family: "Roboto Condensed", sans-serif;
    color: #48186c;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #48186c;
    padding-bottom: 5px;
    text-transform: uppercase; }
  .recruit-page .bullet {
    margin-right: 10px; }
  .recruit-page .paragraph {
    font-family: "questrial", sans-serif;
    margin-top: 20px;
    font-size: 19px;
    font-weight: lighter; }
  .recruit-page .mainpic {
    width: 100%;
    height: auto; }
  .recruit-page .joblink1 {
    font-family: "questrial", sans-serif;
    margin-right: 5px;
    margin-left: 5px;
    color: #48186c;
    font-size: 18px;
    border-right: 2px solid gray;
    padding-right: 15px; }
  .recruit-page .joblink {
    font-family: "questrial", sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    color: #48186c;
    font-size: 18px; }

@media screen and (max-width: 450px) {
  .recruit-page {
    padding-top: 180px; }
    .recruit-page .bullet {
      margin-left: 0px; }
    .recruit-page h1 {
      font-size: 30px; }
    .recruit-page h5 {
      font-size: 20px; } }
