@import url("https://fonts.googleapis.com/css?family=Questrial|Roboto+Condensed");
nav {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  font-family: "questrial", sans-serif;
  font-weight: lighter;
  letter-spacing: .4px; }

nav .menu {
  display: flex;
  flex-direction: row;
  color: white;
  padding-top: 15px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: rgba(72, 24, 108, 0.75);
  padding-left: 20px;
  height: 30px;
  font-size: 14px;
  overflow: hidden; }

nav .menu div {
  margin-right: 20px; }

.logo {
  width: 70px;
  height: auto;
  position: fixed;
  right: 0;
  top: 10px; }

.logo2 {
  height: 170px;
  margin-top: -40px; }

.logobox {
  height: 90px;
  background-color: #48186c;
  display: flex;
  justify-content: space-between; }

@media screen and (max-width: 450px) {
  nav {
    height: 150px;
    margin: 0px;
    width: 100%; }
  nav .menu {
    flex-direction: column;
    line-height: 17px;
    height: 110px;
    padding-top: 8px; }
  .logo {
    width: 50px;
    height: auto;
    margin-right: 10px; }
  .logo2 {
    height: 120px;
    width: auto;
    margin-top: -25px;
    margin-left: 10px; }
  .logobox {
    height: 65px; } }
